include dash_svg/dash_svg.min.js
include dash_svg/dash_svg.min.js.map
include dash_svg/async-*.js
include dash_svg/async-*.js.map
include dash_svg/*-shared.js
include dash_svg/*-shared.js.map
include dash_svg/metadata.json
include dash_svg/package-info.json
include README.md
include landing-page.md
include LICENSE
include package.json
